// Non-modular or client styles for .l-footer region.
#footer-wrapper {
  background-color: $black;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  border-top: 2px solid $white;
	#footer {
	  @include grid-row();
	  @include grid-col-gutter;
		@include breakpoint(mediumplus) {
		  @include flexbox-wrap;
		}
	}
}
.region-footer-first {
	width: 160px;
	margin: auto auto 25px;
	@include breakpoint(mediumplus) {
	  margin: auto auto 25px 0;
	}
	@include breakpoint(mediumplus) {
		margin-top: auto;
		margin-bottom: auto;
	}
}
#block-sitebranding {
  max-width: 180px;
  width: 100%;
  margin: auto;
	@include breakpoint(mediumplus) {
  	margin-right: auto;
	}
  svg {
    max-width: 160px;
    max-height: 46px;
  }
}
.region-footer-middle {
	color: $white;
	text-align: center;
	margin-bottom: 25px;
	@include breakpoint(mediumplus) {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		text-align: right;
	}
}
.region-footer-last {
	ul.menu {
		display: flex;
    flex-direction: column;
    align-items: center;
		@include breakpoint(medium) {
      flex-direction: row;
      justify-content: center;
      align-items: unset;
    }
		li {
			a, span {
				font-size: 13px;
				text-transform: lowercase;
				color: $medium-gray;
				&:hover, &:focus {
					color: $primary-color;
				}
			}
      span {
        cursor: pointer;
        line-height: 1;
        display: block;
        padding: $menu-item-padding;
        transition: .25s ease-out color;
      }
		}
	}
}
.contact_details.teaser {
  font-family: $header-font-family;
	p {
	  margin-bottom: 0;
	  text-transform: uppercase;
	  font-size: 14px;
	  letter-spacing: .5px;
	  line-height: 1.2;
	  a {
	  	color: $white;
	  	&:hover {
	  		color: $primary-color;
	  	}
	  }
	}
}
.block-social {
	text-align: center;
	@include breakpoint(mediumplus) {
		margin-top: auto;
		margin-bottom: auto;
		text-align: right;
	}
}
.social_media.full {
	ul#linkicon-node-social-media-field-social-link-12 {
		margin-bottom: 0;
		@include breakpoint(medium down) {
			display: block;
			margin: 0;
		}
		li {
			display: inline-block;
			a {
				display: inline-block;
				border: 1px solid $primary-color;
				height: 32px;
				text-align: center;
				width: 32px;
				background-color: $primary-color;
				@include flexbox-wrap;
				margin: 5px!important;
        color: $white;
				@include breakpoint(mediumplus) {
					margin-left: 5px;
				}
				&:hover {
					background-color: transparent;
				}
				@include breakpoint(medium down) {
					margin: auto auto 20px;
				}
				.linkicon__icon {
					font-size: 15px;
					line-height: 30px;
					margin: auto;
					&::before {
						color: $white;
					}
				}
				.linkicon__text {
					display: none;
				}
			}
		}
	}
}
