// Non-modular or client styles for .l-header region.
a {
  @include transition(.32s);
}
#header-wrapper {
  background-color: $black;
  @include grid-col-gutter;
  padding-top: .5rem;
  padding-bottom: 0rem;
  @include breakpoint(large) {
    padding-top: 1.8rem;
    padding-bottom: 1.5rem;
  }
  header {
    @include grid-col-row();
    position: relative;
  	.region-header {
      position: relative;
  		@include flexbox-wrap;
  		section {
  			margin-top: auto;
        margin-bottom: auto;
        height: 100%;
  		}
  	}
  }
}
#block-base-branding {
  margin-right: auto;
  max-width: 180px;
  width: 100%;
  svg {
    max-width: 160px;
    max-height: 46px;
  }
}
#block-combined-navigation {
  margin-left: auto;
	text-align: right;
  max-width: calc(100% - 180px);
  width: 100%;
  nav {
    &:nth-child(2) {
      bottom: -34px;
      display: inline-block;
      position: absolute;
      right: 0;
      z-index: 3;
      ul.menu {
        background-color: $primary-color;
        line-height: 1.2;
      }
    }
  }
  @include breakpoint(mediumplus down) {
    display: none!important;
  }
  ul.menu.dropdown {
    li {
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      a {
        &:hover, &.is-active {
          color: $primary-color;
        }
      }
    }
  }
  ul.menu {
		li {
			display: inline-block;
			a {
				text-transform: uppercase;
				color: $white;
  			padding: 0.3rem 0.6rem;
        font-family: $header-font-family;
         @include breakpoint(xlarge) {
          padding: 0.3rem 0.9rem;
         }
        line-height: 1.2;
				font-size: 21px;
        letter-spacing: 1px;
        &:hover, &.is-active {
          color: $black;
        }
			}
		}
	}
}



.mobile-menu-wrapper {
	@include breakpoint(large) {
		display: none!important;
	}
}
@include breakpoint(mediumplus down) {
	#header-wrapper header {
	  position: relative;
	}
    .mobile-menu-wrapper {
      width: calc(100% - 65px);
      .menu-toggle {
          margin-left: auto;
          margin-top: 5px;
          @include flexbox;
          cursor: pointer;
          outline: none;
          border-radius: 0;
          width: 32px;
          height: 32px;
          position: absolute;
          z-index: 9;
          top: 0;
          right: 0;
          > span {
            margin: auto;
            width: 90%;
            height: 3px;
            background: $primary-color;
            position: relative;
            left: 0;
            right: 0;
            &::after, &::before {
              width: 100%;
              height: 3px;
              background: $primary-color;
              content: "";
              position: absolute;
              transition-delay: 0.3s, 0s;
              transition-duration: 0.3s, 0.3s;
              left: 0;
              right: 0;
              margin: 0 auto;
            }
            &::after {
              bottom: -9px;
              transition-property: bottom, transform;

            }
            &::before {
              transition-property: top, transform;
              top: -9px;
            }
        }
      }
      &.menu-open {
        .menu-toggle {
          > span {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
             box-shadow: none;
            &::after, &::before {
              transition-delay: 0s, 0.3s;
              width: 100%;
            }
            &::after {
              bottom: 0;
              transform: rotate(-45deg);
            }
            &::before {
              top: 0;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    #mobile-menu {
      position: absolute;
      top: 100%;
      right: 0;
      width: 0px;
      min-width: 0;
      overflow: hidden;
      @include transition(.5s);
      z-index: 99;
      ul {
        background: rgba($primary-color, .9);
        margin: 0;
        padding: 16px 0;
        list-style: none;
        width: 100%;
        min-width: 300px;
        li {
          display: block;
          text-align: center;
          a {
            color: $white;
            display: block;
            padding: 16px 1em;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-family: $header-font-family;
          }
        }
      }
    }
  .menu-open {
    #mobile-menu {
      min-width: 300px;
    }
  }
}