// Non-modular or client styles for the .l-content region.
/* user-login-start */
.path-user {
  .block-base-local-tasks {
    padding-top: 3rem;
    @include breakpoint(mediumplus) {
      padding-top: 5rem;
    }
    .button-group {
      background-color: $primary-color;
      margin: auto;
      max-width: 555px;
      padding: 20px 15px 30px;
      width: 100%;
      a {
	      border: 2px solid $white;
	      color: $white;
        box-shadow: none;
        background-color: transparent;
          &.active, &:hover {
          color: $black;
          border-color: $black;
        }
      }
    }
  }
  #block-base-content {
    padding-bottom: 3rem;
    @include breakpoint(mediumplus) {
      padding-bottom: 5rem;
    }
  } 
}

#user-login-form, #user-pass {
  background-color: $primary-color;
  margin: auto;
  max-width: 555px;
  width: 100%;
  padding: 0 15px;
  #edit-actions {
    margin-top: 10px;
    .button {
      background-color: transparent;
      font-size: 17px;
      padding: 8px 15px 7px;
      margin-bottom: 15px;
      color: $white;
      border: 2px solid $white;
      &:hover {
        background-color: transparent;
        color: $black;
        border-color: $black;
      }
    }
  }
}
@include breakpoint(medium down) {
  .button-group {
    a {
      display: block;
    }
  }
}
/* user-login-end */