body {
	.button {
		border: 3px solid $primary-color;
		color: $primary-color;
		background: transparent;
		text-transform: uppercase;
		letter-spacing: .08rem;
		font-family: $header-font-family;
		padding: 4px 25px;
		line-height: 1;
		@include transition(.24s);
		&:hover {
			color: $white;
			background: $primary-color;
			outline: none;
		}
	}	
}

