// @file
// Place your mixins here. Feel free to roll your own mixins.

@mixin all-clear {
  &::after, &::before {
  content: " ";
  display: table;
  width: 0;
  }
  &::after {
    clear: both;
  }
}
@mixin placeholder($color, $opacity) {
 &::-moz-placeholder {
 color: $color;
 opacity: $opacity;
 }
 &::-webkit-input-placeholder {
 opacity: $opacity;
 color: $color;
 }
 &:-ms-input-placeholder {
 opacity: $opacity;
 color: $color;
 }
 &::-ms-input-placeholder {
 opacity: $opacity;
 color: $color;
 }
 &:focus {
 &::-moz-placeholder {
 opacity: 1;
 }
 &::-webkit-input-placeholder {
 opacity: 1;
 }
 &:-ms-input-placeholder {
 opacity: 1;
 }
 &::-ms-input-placeholder {
 opacity: 1;
 }
 }
}


@mixin flexbox {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
}
@mixin flexbox-wrap {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@mixin flexbox-vertical {
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
}
@mixin flexbox-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
  display: flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
@mixin skew($s1, $s2) {
-ms-transform: skew($s1,$s2);
  -webkit-transform: skew($s1,$s2);
  transform: skew($s1,$s2);
}
@mixin scale($m) {
  -webkit-transform: scale($m);
  -moz-transform:    scale($m);
  -ms-transform:     scale($m);
  -o-transform:      scale($m);
  transform:         scale($m);
  }

@mixin translate($p, $q) {
  -webkit-transform: translate($p,$q);
  -moz-transform:    translate($p,$q);
  -ms-transform:     translate($p,$q);
  -o-transform:      translate($p,$q);
  transform:         translate($p,$q);
}
@mixin translatex($y) {
  -webkit-transform: translateX($y);
  -moz-transform:    translateX($y);
  -ms-transform:     translateX($y);
  -o-transform:      translateX($y);
  transform:         translateX($y);
  }
@mixin translatey($x) {
  -webkit-transform: translateY($x);
  -moz-transform:    translateY($x);
  -ms-transform:     translateY($x);
  -o-transform:      translateY($x);
  transform:         translateY($x);
  }
  @mixin rotate($angle) {
  -webkit-transform: rotate($angle);
  -moz-transform:    rotate($angle);
  -ms-transform:     rotate($angle);
  -o-transform:      rotate($angle);
  transform:         rotate($angle);
  }
@mixin transition($t) {
  transition: all $t ease-in-out;
  -ms-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
}
@mixin filter-grayscale {
  filter: grayscale(100%) brightness(1.2);
}
@mixin blur {
	filter: blur(5px);
}
@mixin blurandgrayscale {
  filter: blur(4px) grayscale(100%) brightness(1.2);
}
