.basic_page.full {
.view-mode-full {
		padding-bottom: 2rem;
		@include breakpoint(mediumplus) {
		  padding-bottom: 4rem;
		}
		.field-name-field-intro {
			padding-top: 2rem;
			padding-bottom: 1rem;
			@include breakpoint(mediumplus) {
				padding-top: 3rem;
				padding-bottom: 3rem;
			}
			@include grid-row();
			@include grid-col-gutter;
			.field-items {
				max-width: 750px;
				margin: auto;
				text-align: center;
			}
		}
	}
}