.call_to_action {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flexbox;
  &:before {
    content: '';
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    display: block;
    height: 90%; 
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 1102 1192' xmlns='http://www.w3.org/2000/svg' xmlns:serif='http://www.serif.com/' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3e%3cg serif:id='Layer 1'%3e%3cpath d='M374.374 379.689c20.687 2.808 44.754 6.133 68.966 9.504-75.512 76.837-132.129 183.892-174.98 331.204-22.69 33.055-49.17 44.034-79.45 45.059l-22.353-5.525c41.137-161.388 111.058-289.076 207.817-380.242m-79.417 411.975l-18.654-4.612c45.704-183.967 109.025-309.563 198.35-393.492 28.12 3.933 54.475 7.65 73.683 10.358-72.937 76.9-130.325 189.892-174.183 343.05-22.634 32.767-49.03 43.671-79.196 44.696M579.84 407.668c12.525-11.592 25.263-19.646 25.263-19.646l-246.875-34.025s-23.613 5.838-37.155 18.717c4.992.579 12.455 1.529 21.7 2.741-83.579 84.063-146.458 195.484-187.558 332.221l.025-.433c-5.55 17.88-9.125 32.071-54.783 36.354l-6 24.271 282.004 69.684 2.942-12.23c47.229-196.37 112.887-333.175 200.437-417.654' fill='%23ffffff' fill-rule='nonzero'/%3e%3cpath d='M907.307 269.36l-93.704 93.395c-11.687-9.741-25.725-14.5-41.333-14.079l85.987-83.454 49.05 4.137zm-83.17 387.325c-76.476 91.512-199.376 237.1-210.513 246.42-15.704 12.338-15.713 37.505-14.721 49.413L422.749 1148.44c18.379-284.267 70.233-494.942 154.258-626.517 68.83-107.792 141.217-131.742 172.13-141.97 5.858-1.934 10.308-3.41 13.874-5.055 2.75-.596 5.367-.917 7.921-1.096l2.088.246.046-.396c10.15-.262 18.712 2.892 25.995 9.563 46.567 42.725 34.284 208.55 25.075 273.47M403.92 1068.207l-80.196-24.575-4.954 8.696c-.279.491-2.841 5.029-7.391 14.125-2.459-14.48-3.592-46.017 3.304-97.004l-.292.629c.042-.196.08-.4.121-.6l-24.454-5.2c-4.621 21.733-8.33 43.929-11.309 65.329l-74.291-24.18-5.25 7.897c-.534.8-6.592 9.995-15.975 27.237-2.946-12.054-5.125-44.637 2.491-100.975l-3.754 18.833a783.617 783.617 0 0 1 3.754-18.833l-24.454-5.2c-3.983 18.72-7.283 37.783-10.029 56.392l-90.25-27.654-5.133 7.916c-.525.813-6.792 10.613-15.7 28.792.395-45.113 5.666-183.825 52.304-318.83 1-2.845 1.996-5.691 3.016-8.537 40.13-111.625 129.446-304.413 277.855-345.696l338.971 40.1c-39.617 16.7-99.388 52.362-156.371 141.596-78.27 122.575-129.267 310.558-152.013 559.742M1101.632-.004L850.553 243.669l-38.362-3.234-1.75 20.759 20.291 1.712-85.229 82.713-374.025-44.246-2.313.62C208.39 344.865 113.94 547.207 71.952 664.007 16.665 817.78-12.164 1003.286 4.886 1095.51l24.241 1.388c16.405-53.521 34.592-89.205 42.992-104.221l75.709 23.2c-8.509 68.046-9.73 124.258-9.742 125.029l24.12 4.838c22.676-57.45 43.638-95.092 52.867-110.571l60.442 19.675c-7.517 63.891-8.63 115.208-8.642 115.95l24.121 4.833c21.667-54.888 37.475-87.68 44.854-102.138l65.871 20.18c-2.379 28.891-4.4 58.541-6.041 89.016l21.779 9.03 207.808-231.121-.954-5.9c-1.65-10.225-.904-27.484 4.759-31.93 14.858-11.679 182.97-212.608 216.52-252.77l2.255-2.7.52-3.476c.176-1.212 2.413-16.437 4.667-39.608l248.6-270.704V322.7L855.782 590.41c1.025-15.65 1.796-32.859 1.996-50.692.533-48.154-3.312-87.33-11.4-117.454l255.254-255.5v-17.688l-259.35 259.6c-4.12-11.887-9.075-21.966-14.812-30.333L934.51 271.65l30.4 2.567 1.75-20.759-12.808-1.083 147.78-147.287V75.676L926.648 250.084l-48.575-4.095L1101.632 29.03V-.003z' fill='%23ffffff' fill-rule='nonzero'/%3e%3cpath d='M471.549 1052.035l6.604-6.983c71.991-441.209 202.88-594.772 246.467-634.976-92.959 76.784-206.317 184.363-253.071 641.96' fill='%23ffffff' fill-rule='nonzero'/%3e%3c/g%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right;
    max-height: 280px;
    max-width: 259px;
    z-index: 1;
    @include breakpoint(medium down) {
      display: none;
    }
  }
  &:after {
    // OVERLAY HERE
  }
  .main-bg-image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    @include filter-grayscale;
    background-size: cover;
    background-position: left center;
    &::after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  .blur-image-wrapper {
    border-color: $white;
    border-style: solid;
    border-width: 0;
    box-shadow: 3px 0 0 0 $white;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 85%;
    left: 0;
    background-size: cover;
    @include breakpoint(mediumplus) {
      @include grid-col(7);
    }
    @include breakpoint(xlarge) {
      width: calc(((100% - 1200px) / 2) + 700px);
    }
    .blur-image {
      filter: blur(4px) grayscale(100%);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      background-size: cover;
      background-position: left center;
      img {
        opacity: .6;
      }
      &::after {
        background-color: rgba(0, 0, 0, 0.5);
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  .view-mode-default {
    @include grid-col-row();
    position: relative;
    z-index: 2;
    padding-top: 2rem;
    padding-bottom: 1rem;
    @include breakpoint(mediumplus) {
      padding-top: 8rem;
      padding-bottom: 5rem;
    }
    h2 {
      color: $white;
      text-transform: uppercase;
      font-size: 1.8rem;
      line-height: 1.2;
      @include breakpoint(mediumplus) {
        font-size: 2.5rem;
      }
      @include breakpoint(large) {
        font-size: 3.5rem;
      }      
    }
    .body.field-type-text-with-summary {
      text-transform: uppercase;
      color: $primary-color;
      font-family: $header-font-family;
      max-width: 255px;
      padding-bottom: 1rem;
      @include breakpoint(medium) {
        max-width: 400px;
      }
      @include breakpoint(mediumplus) {
        padding-bottom: 3rem;
        max-width: 380px;
      }
      @include breakpoint(large) {
        max-width: 430px;
      }
      p {
        line-height: 1.2;
        letter-spacing: 1px;
      }
    }
  }
}