.geolocation-map-wrapper {
  height: 240px;
  @include breakpoint(medium) {
    height: 360px;
  }
  @include breakpoint(mediumplus) {
    height: 480px;
  }
  @include breakpoint(large) {
    height: 640px;
  }
}
/* ***************** */
.contact-map-wrapper {
  .contact_details.map {
    @include grid-row();
    @include grid-col-gutter;
    padding-top: 2rem;
    max-width: 970px;
    z-index: 9;
    @include breakpoint(medium) {
      margin-bottom: -15.5rem;
      padding-top: 3rem;
    }
    @include breakpoint(mediumplus){
      padding-top: 5rem;
    }
  }
  .contact_details.full {
    background-color: $light-gray;
    padding-bottom: 2rem;
    @include breakpoint(medium) {
      padding-top: 15rem;
      padding-bottom: 3rem;
    }
    @include breakpoint(mediumplus) {
      padding-bottom: 5rem;
    }
    .contact-details-inner {
      background-color: $primary-color;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 9;
      color: $white;
      padding: 2rem 0.8rem;
      text-align: center;
      @include breakpoint(medium) {
        max-width: 500px;
        @include flexbox;
        flex-wrap: wrap;
        margin-top: -50px;
        padding: 2rem 2rem 2rem 3.5rem;
        text-align: left;
      }
      h3 {
        flex: 0 0 100%;
        font-size: 18px;
      }
      .extra-info {
        margin-bottom: 10px;
        @include breakpoint(medium) {
          padding-right: 4px;
          margin-bottom: 0;
        }
      }
      a {
        color: $white;
        &:hover {
          color: $black;
        }
      }
      p {
        margin-bottom: 0;
        line-height: 1.3;
      }
    }
    .social_media.full {
      ul#linkicon-node-social-media-field-social-link-12 {
        margin: 0;
        li a {
          border: 1px solid $white;
          &:hover, &:focus {
            .linkicon__icon::before {
              color: $primary-color;
            }
            background: $white;
          }
        }
      }
    }
  }
}
.field-name-field-form {
  @include grid-row();
  @include grid-col-gutter;
  padding-top: 2rem;
  padding-bottom: 1.2rem;
  @include breakpoint(mediumplus) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .webform-submission-form {
    .form-item {
      @include breakpoint(mediumplus) {
        @include flexbox-wrap;
      }
      &:not(.form-item-message ) {
        @include breakpoint(mediumplus) {
          @include grid-col(1 of 2);
        }
      }
      label {
        display: inline-block;
        color: $primary-color;
        font-family: $header-font-family;
        text-transform: uppercase;
        font-size: 17px;
        @include breakpoint(mediumplus) {
          font-size: 24px;
          width: 100px;
        }
      }
      input, textarea {
        display: inline-block;
        box-shadow: none;
        border: 2px solid $primary-color;
        margin-bottom: 15px;
        @include breakpoint(mediumplus) {
          margin-bottom: 35px;
        }
      }
      input {
        @include breakpoint(mediumplus) {
          width: calc(100% - 100px);
        }
      }
    }
    .form-item-message {
      width: 100%;
      > div {
        @include breakpoint(mediumplus) {
          padding-left: 15px;
          padding-right: 15px;
          width: calc(100% - 100px);
        }
      }
    }
    .form-actions {
      clear: both;
      text-align: center;
    }
    .webform-button--submit {
      background-color: $primary-color;
      padding: 8px 30px 6px;
      color: $white;
      font-size: 17px;
      @include breakpoint(mediumplus) {
        font-size: 23px;
        padding: 14px 75px 11px;
      }
      &:hover {
        background-color: transparent;
        color: $primary-color;
      }
    }
  }
}

.form-required {
  position: relative;
  &:after {
    position: absolute;
    top: 10px;
  }
}
