.sliding-popup-bottom {
  width: 100%;
}

.eu-cookie-withdraw-tab {
  display: none;
}

.popup-content {
  display: flex;
  flex-wrap: wrap;
}

.small-12 {
  max-width: 100%;
  flex: 0 0 100%;
}

.eu-cookie-compliance-save-preferences-button {
  cursor: pointer;
  color: $primary-color;
  text-decoration: underline;
  transition: .25s ease-out color;
  &:hover, &:focus {
    color: $white;
  }
}

.eu-cookie-compliance-banner {
  padding: 15px;
  border-top: 2px solid $primary-color;
  background-color: $black;
  color: $white;
  font-size: 14px;
  &, label, a {
    color: $white;
  }
  a {
    text-decoration: underline;
    transition: color .25s ease-out;
    &:hover, &:focus {
      color: $primary-color;
    }
  }
  .button-group {
    margin-bottom: 0;
  }
}

.eu-cookie-compliance-categories {
  margin-bottom: 5px;
}

.eu-cookie-compliance-save-preferences-button {
  margin-bottom: $global-margin;
}

.eu-cookie-compliance-buttons {
  align-items: flex-start;
  display: flex;
  @include breakpoint(large) {
    justify-content: flex-end;
  }
  button:not(:last-of-type) {
    margin: 0 $global-margin/2 $global-margin 0;
  }
}

.eu-cookie-compliance-category {
  margin-bottom: 5px;
  label {
    font-size: rem-calc(14);
  }
  [type="checkbox"] {
    margin: 0;
  }
  .eu-cookie-compliance-category-description {
    font-size: rem-calc(12);
  }
}

.eu-cookie-compliance-message p {
  margin-bottom: 5px;
}
