.home_page.full {
	.view-mode-full {
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include breakpoint(mediumplus) {
			padding-top: 3rem;
			padding-bottom: 3rem;			
		}
		@include breakpoint(mediumplus) {
		  @include flexbox;
		}
		@include breakpoint(xlarge) {
			padding-left: calc((100% - 1170px) / 2);
		}
		@include breakpoint(large down) {
			@include grid-row();
		  @include grid-col-gutter();
		}
		&::after {
			content: "";
			display: block;
			clear: both;
		}
		.field-name-body {
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			background-color: $white;
			@include breakpoint(mediumplus) {
				padding: .5rem 3rem 0rem 0;
				width: 400px;
			}
			@include breakpoint(large) {
				padding: 3rem 3rem 3rem 0;
			}
		}
		.field-name-field-image {
			@include breakpoint(mediumplus) {
				width: calc(100% - 400px);
			}
			@include breakpoint(large) {
				margin-left: -100px;
				width: calc(100% - 300px);
			}
		}
	}



	.page-links-wrapper {
		clear: both;
		background-color: $light-gray;
		.page-links-wrapper-inner {
		  @include grid-row();
		  @include grid-col-gutter();
			@include breakpoint(mediumplus) {
				@include flexbox;
			}
		}
		.page-title-wrapper {
			@include grid-col(12);
	    @include breakpoint(mediumplus) {
	      @include grid-col(5);
	    }
			h2 {
				text-transform: uppercase;
				color: $white;
				font-size: 2.1rem;
		    @include breakpoint(medium) {
					font-size: 5rem;
		    }
		    @include breakpoint(mediumplus) {
					font-size: 9rem;
					height: 100%;
					position: relative;
					width: 265px;
		    }
		    span {
		    	display: block;
		    	line-height: .9;
		    	&.first-title-item {
		    		@include breakpoint(mediumplus) {
			    		@include rotate(-180deg);
							writing-mode: vertical-rl;
							position: absolute;
							left: 0;
							top: -30px;
				    }
				    @include breakpoint(medium down) {
				    	margin-top: 35px;
				    }
		    	}
		    	&.last-title-item {
				    @include breakpoint(mediumplus) {
						  bottom: -30px;
						  position: absolute;
						  right: 0;
						  writing-mode: vertical-rl;
				    }
				    @include breakpoint(medium down) {
				    	display: none;
				    }
		    	}
		    }
			}
		}
		.field-name-field-page-link {
			@include grid-col(12);
			padding-top: 2rem;
	    padding-bottom: 2rem;
	    @include breakpoint(medium) {
	    	padding-top: 3rem;
		    padding-bottom: 3rem;
	    }
	    @include breakpoint(mediumplus) {
	      @include grid-col(7);
		    padding-top: 4rem;
		    padding-bottom: 4rem;
	    }
	    ul.accordion {
	      list-style: outside none none;
	      margin: 0;
        background-color: transparent;
        border-left: 4px solid $black;
        li.accordion-item {
        	&:first-child {
						padding-top: 40px;
        	}
        	&:last-child {
        		padding-bottom: 40px;
        	}
          &.is-active {
            a.accordion-title {
            	padding-bottom: 0;
            	padding-top: 0;
            }
          }
          a.accordion-title {
            color: $black;
            text-align: right;
            font-size: 1.2rem;
            padding-right: 70px;
            text-transform: uppercase;
            padding-left: 50px;
            text-align: left;
            position: relative;
            font-weight: normal;
            font-family: $header-font-family;
            @include breakpoint(mediumplus) {
              font-size: 1.4rem;
            }
            @include breakpoint(large) {
              font-size: 1.6rem;
            }
            &::before {
            	content: "";
            }
            &::after {
              content: "";
              display: block;
              height: 4px;
              width: 38px;
              position: absolute;
              top: 50%;
              @include translatey(-50%);
              left: -1px;
              background-color: $black;
            }
            &:hover {
              color: $primary-color;
              background-color: transparent;
            }
          }
          .accordion-content {
					  background-color: transparent;
					  padding-left: 50px;
					  padding-top: 0;

					}
        }
	    }
		}
	}
}