.home_page.full {
	.page-header {
		position: relative;
		figure {
			position: relative;
			z-index: 2;
			.field-name-field-images {
				@include filter-grayscale;
				img {
					width: 100%;
				}
			}
      .blur-image-wrapper {
        border-color: $white;
        border-style: solid;
        border-width: 0;
        box-shadow: -3px 0 0 0 $white;
        height: 100%;
        margin: auto;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background-size: cover;
        z-index: 1;
        @include breakpoint(mediumplus) {
        	@include grid-col(5); 
        }
        @include breakpoint(xlarge) {
        	width: calc(((100% - 1200px) / 2 ) + 470px);
        }
        @include breakpoint(mediumplus) {
          // width: 60%;
        }
        .blur-image {
          @include blurandgrayscale;
          height: 100%;
          right: 0;
          position: absolute;
          top: 0;
          width: 100vw;
          background-size: cover;
          background-position: left center;
          img {
            opacity: 1;
          }
          &::after {
            background-color: rgba(0, 0, 0, 0.5);
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }	
			figcaption {
       	@include grid-row();
				@include flexbox-vertical;
				height: 100%;
				right: 0;
				top: 0;
				z-index: 1;
				left: 0;
				padding: 30px;
				width: 100%;
				@include grid-col-gutter;
				@include breakpoint(medium down) {
					background-color: #444444;
				}
				@include breakpoint(mediumplus) {
					position: absolute;
					padding: 0;
				}
				.titles {
					color: $white;
					margin-left: auto;
					margin-top: auto;
					margin-bottom: auto;
					@include breakpoint(mediumplus) {
						text-align: right;
						@include grid-col(5);
					}
					.page-title {
			      text-transform: uppercase;
			      font-size: 1.8rem;
			      line-height: 1.2;
			      @include breakpoint(mediumplus) {
			        font-size: 2.5rem;
			      }
			      @include breakpoint(large) {
			        font-size: 3.5rem;
			      }      
					}
				}
				.sub-title {
					color: $primary-color;
					text-transform: uppercase;
					font-size: 1.4rem;
					margin-bottom: 1.5rem;
				}
				.field-name-field-intro {
					color: $white;
				}
			}
		}
	}
}
/* *********** */
.basic_page.full, .contact_page.full {
	.page-header {
		figure {
			position: relative;
			z-index: 2;
			.field-name-field-image {
				@include filter-grayscale;
				img {
					width: 100%;
				}
			}
			.blur-image-wrapper {
				border-color: $white;
				border-style: solid;
				border-width: 0;
				box-shadow: 3px 0 0 0 $white, -3px 0 0 0 $white;
				height: 100%;
				left: 0;
				margin: auto;
				overflow: hidden;
				position: absolute;
				right: 0;
				top: 0;
				width: 70%;
			  @include breakpoint(medium) {
					width: 60%;
			  }
			  @include breakpoint(mediumplus) {
					width: 50%;
			  }
			  .blur-image {
			  	left: 50%;
					position: relative;
					top: -3px;
					transform: translateX(-50%);
				  filter: blur(4px) grayscale(100%);
				  background: #000000;
						width: calc(260% + 20px);
				  @include breakpoint(medium) {
						width: calc(280% + 20px);
				  }
				  @include breakpoint(mediumplus) {
						width: calc(200% + 20px);
				  }
				  img {
				  	opacity: .6;
				  }
				}
			}
			figcaption {
				bottom: 4rem;
				display: inline-block;
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
				z-index: 1;
				@include breakpoint(mediumplus down) {
					bottom: auto;
					top: 50%;
					@include translatey(-50%);
				}
				.titles {
					color: $white;
					.page-title {
						text-transform: uppercase;
						line-height: 1;
						font-size: 1.8rem;
						@include breakpoint(mediumplus) {
							font-size: 2.5rem;
						}
						@include breakpoint(large) {
							font-size: 3.5rem;
						}
					}
				}
				.breadcrumbs {
					text-transform: uppercase;
					margin-bottom: 0;
          font-family: $header-font-family;
					font-weight: 400;
					@include breakpoint(large) {
						margin-top: 2rem;
					}
					li {
						float: none;
						display: inline-block;
						&:not(:last-child)::after {
						  color: #f08537;
						  font-size: 0.8rem;
						  margin: 0 0.2rem;
						}
						a {
					  	color: $primary-color;
					  	text-decoration: none;
					  	font-size: 0.8rem;
					  	&:hover {
					  		color: $white;
					  	}
						}
					}
				}
			}
		}
	}
}