.field-name-field-paragraphs {
  @include flexbox-wrap;
  position: relative;
  .paragraph {
		&:first-child {
			.field-paragraph--field-label {
				h2 {
					margin-top: -1.4rem;
				}
			}
		}
  }
  > .field-items {
		@include grid-row();
	  @include flexbox-wrap;
		@include grid-col-gutter;
  }
  .field-paragraph--field-label {
		text-transform: uppercase;
		color: $white;
		width: 100%;
		h2 {
			display: inline-block;
			line-height: 1;
			font-size: 4.5rem;
			margin-bottom: 25px;
		  @include breakpoint(mediumplus) {
				font-size: 7rem;
				margin-bottom: 35px;
		  }
		}
	}
}
/* *******omgeving-start********** */
.paragraph--type--text-block {
		background-color: $light-gray;
		box-shadow: 101px 3px 1px 3px $light-gray, 500px 3px 1px 3px $light-gray,
		-101px 3px 1px 3px $light-gray, -500px 3px 1px 3px $light-gray;
		padding-bottom: 3rem;
		width: 100%;
	  &:first-child {
			margin-bottom: 3rem;
	  	@include breakpoint(mediumplus) {
				margin-bottom: 5rem;
	  	}
		}
		.field-paragraph--field-text.field-type-text-long  {
					padding-top: 3rem;
				&> .field-items {
					max-width: 750px;
					margin: auto;
				}
			}
		.field-paragraph--field-label {
			h2 {
				  font-size: 2.5rem!important;
			  @include breakpoint(medium down) {
				  margin-top: -9px;
			  }
			  @include breakpoint(mediumplus) {
				  font-size: 4.8rem!important;
			  }
		    @include breakpoint(large) {
				  font-size: 5rem!important;
				}
		    @include breakpoint(xlarge) {
				  font-size: 6rem!important;
				}
			}
		}
}

.paragraph--type--image {
	&+ .paragraph--type--text-block {
		.field-paragraph--field-text.field-type-text-long  {
					padding-top: 0rem;
				}
	}
}


/* ********omgeving-end*********** */

/* *******machinepark-start********** */
.paragraph--type--titel {
	background-color: $light-gray;
	width: 100%;
	&::after {
		@include breakpoint(medium) {
			background-color: $light-gray;
			height: 1020px;
			width: 100%;
			left: 0;
			top: 0;
			content: "";
			z-index: -1;
			position: absolute;
		}
	}
}
.paragraph--type--text-image,
.paragraph--type--image-text {
	width: 100%;
}

.paragraph--type--image-text {
	text-align: center;
	padding-bottom: 2rem;
	padding-top: 1rem;
  @include breakpoint(medium) {
		@include grid-col(1 of 2);
	}
	&:nth-child(2n) {
		@include breakpoint(xlarge) {
			padding-left: 212px;
		}
	}
	&:nth-child(2n+1) {
		@include breakpoint(xlarge) {
			padding-right: 212px;
		}
	}
	.field-paragraph--field-image {
			margin-bottom: .6rem;
		@include breakpoint(medium) {
			margin-bottom: 1rem;
		}
		img {
			width: 100%;
		}
		.field-items {
			display: inline-block;
			width: 100%;
		}
	}
	.field-paragraph--field-text {
		h3 {
		  letter-spacing: 2px;
		  margin-bottom: .5rem;
		  padding-top: .6rem;
		  @include breakpoint(medium) {
				margin-bottom: .6rem;
		  }
		  @include breakpoint(mediumplus) {
		  	padding-top: 1rem;
				margin-bottom: 1rem;
		  }
		  @include breakpoint(large) {
				padding-top: 1rem;
				margin-bottom: 2rem;
		  }
		}
	}
}
/* *******machinepark-end********** */

/* ********industriebouw-start********* */
.paragraph--type--text-image {
	box-shadow: 101px 0px 1px 0px $light-gray,500px 0px 1px 0px $light-gray,-105px 0px 1px 0px $light-gray,-500px 0px 1px 0px $light-gray;;
	background-color: $light-gray;
}
.paragraph--type--text-image, .paragraph--type--text-image-rev {
	padding-top: 60px;
	@include breakpoint(mediumplus) {
	  @include flexbox-wrap;
		padding-top: 40px;
	}
	&::after {
		content: "";
		display: block;
		clear: both;
	}

	.field-paragraph--field-text {
    	padding-top: 2rem;
      padding-bottom: 2rem;
    @include breakpoint(mediumplus) {
      @include grid-col(7);
      padding-top: 3rem;
      padding-bottom: 3rem;
      margin-top: auto;
      margin-bottom: auto;
    }
    .field-item {
    	h3 {
    		margin-bottom: 30px;
    		letter-spacing: 2px;
    	}
			> ul {
				> li {
					margin-bottom: 15px;
	    		&::after {
	        	background-color: $black;
	    		}
	    		> ul > li {
		    		&::after {
	            background-color: $primary-color;
		    		}
	    		}
	    	}
			}
    }
    ul {
    	margin-left: 0;
    	list-style: none;
    	li {
    		padding-left: 40px;
    		position: relative;
		    &::after {
          content: "";
          display: block;
          height: 3px;
          width: 23px;
          position: absolute;
          top: 13px;
          left: 0;
        }
    	}
    }		
	}
	.field-paragraph--field-image {
		margin-top: auto;
		position: relative;
		z-index: 1;
    @include breakpoint(mediumplus) {
			margin-bottom: auto;
      @include grid-col(5);
    }
    .field-items {
			display: inline-block;
		}
	}
	&:last-child {
		margin-bottom: 8rem;
		.field-paragraph--field-image {
			margin-bottom: auto;
		}
	}
	&:first-child {
		padding-top: 0;
	}
		&:only-of-type {
			margin-bottom: 3rem;
	  .field-paragraph--field-image {
			margin-bottom: auto;
		}
	}

}
/* ********industriebouw-end********* */

/* ***************** */

/* ******team-start****** */
.paragraph--type--image {
	@include grid-row();
	@include grid-col-gutter;
	box-shadow: 101px 0px 1px 0px $light-gray,500px 0px 1px 0px $light-gray,-105px 0px 1px 0px $light-gray,-500px 0px 1px 0px $light-gray;;
	background-color: $light-gray;
	margin-bottom: 0!important;
	position: relative;
  @include breakpoint(medium) {
		margin-top: 5rem;
	}
	&:first-child {
		.field-name-field-image {
	  	@include breakpoint(medium) {
	  		margin-top: -7rem;
	  	}
		  @include breakpoint(mediumplus) {
				margin-top: -10rem;
		  }
		}
	}
	.field-paragraph--field-label {
		z-index: 1;
	  position: absolute;
	  left: 0;
	  @include breakpoint(medium) {
	  	right: 0;
	  	left: auto;
			text-align: right;
		}
	}
	.field-name-field-image {
	  margin-left: auto;
	  max-width: 970px;
		padding-bottom: 3rem;
		padding-top: 3rem;
	  @include breakpoint(medium) {
	  	padding-right: 80px;
	  	padding-left: 60px;
	  }
	  @include breakpoint(mediumplus) {
			padding-bottom: 5rem;
			padding-top: 5rem;
	  }
	}
}
.paragraph--type--image:not(:first-child) {
	margin-top: 0;
	.field-name-field-image {
		padding-top: 0;
	}
}
/* ******team-end****** */

.paragraph--type--text-image,
.paragraph--type--text-image-rev {
	.field-name-field-image {
		.field-items {
			width: 100%;
		}
	}
}

.paragraph--type--images {
	.field-name-field-images {
		&>.field-items {
			margin: 30px auto;
			@include breakpoint(medium){
				column-count: 2;
				column-gap: 20px;
				margin: 50px auto;
			}
			&>.field-item {
				margin-bottom: 20px;
			}
		}
	}
}