{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <svg viewBox="0 0 392 111" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414">
    <g fill-rule="nonzero">
        <path d="M9.713.702H0l9.45 61.25H23.8L33.25.702h-8.837L17.15 50.664h-.175L9.713.702zM59.375.702H45.288l-9.8 61.25h8.837l1.663-11.113H57.8l1.663 11.113h9.712l-9.8-61.25zm-7.612 10.85h.175l4.55 30.975h-9.275l4.55-30.975zM96.7 61.952h9.888V.702h-8.575v36.662h-.175L88.125.702H76.05v61.25h8.663V17.589h.175L96.7 61.952zM147.071 36.577h4.375v11.287c0 4.375-1.925 5.95-4.988 5.95-3.062 0-4.987-1.575-4.987-5.95V14.79c0-4.375 1.925-6.037 4.987-6.037 3.063 0 4.988 1.662 4.988 6.037v6.563h9.1v-5.95c0-9.8-4.9-15.4-14.35-15.4s-14.35 5.6-14.35 15.4v31.85c0 9.8 4.9 15.4 14.35 15.4s14.35-5.6 14.35-15.4V27.827h-13.475v8.75zM178.883 35.702h10.938v26.25h9.8V.702h-9.8v26.25h-10.938V.702h-9.625v61.25h9.625v-26.25zM218.746 9.452h16.625V.702h-26.25v61.25h26.25v-8.75h-16.625V35.264h13.213v-8.75h-13.213V9.452zM243.821 61.952h25.463v-8.75h-15.838V.702h-9.625v61.25zM275.963.702v46.637c0 9.8 4.9 15.4 14.35 15.4s14.35-5.6 14.35-15.4V.702h-9.1v47.25c0 4.375-1.925 5.95-4.988 5.95-3.062 0-4.987-1.575-4.987-5.95V.702h-9.625zM338.575 61.952h12.775l6.825-61.25h-8.4l-4.9 48.65h-.175L339.975.702H330.7l-4.55 48.3h-.175L320.9.702h-9.362l6.825 61.25h13.212l3.413-32.638h.175l3.412 32.638zM375.113 9.452h16.625V.702h-26.25v61.25h26.25v-8.75h-16.625V35.264h13.212v-8.75h-13.212V9.452z" fill="#ffffff"/>
        <path d="M7.158 98.693h1.975v5.105c0 1.979-.866 2.691-2.254 2.691-1.387 0-2.254-.712-2.254-2.691V88.835c0-1.98.867-2.73 2.254-2.73 1.388 0 2.254.75 2.254 2.73v2.971h4.117v-2.692c0-4.433-2.217-6.966-6.487-6.966-4.275 0-6.492 2.533-6.492 6.966v14.409c0 4.433 2.217 6.966 6.492 6.966 4.27 0 6.487-2.533 6.487-6.966v-8.788H7.158v3.958zM31.683 110.173c-.433-1.03-.475-2.021-.475-3.367v-4.275c0-2.888-.712-4.946-2.887-5.858v-.08c1.937-.908 2.85-2.729 2.85-5.579v-2.179c0-4.275-1.942-6.37-6.454-6.37h-6.571v27.708H22.5V98.889h1.504c1.98 0 2.85.95 2.85 3.525v4.354c0 2.255.159 2.692.396 3.405h4.433zM24.6 86.423c1.542 0 2.217.87 2.217 2.85v2.729c0 2.216-.992 2.929-2.613 2.929H22.5v-8.508h2.1zM40.142 88.835c0-1.98.87-2.73 2.254-2.73 1.387 0 2.258.75 2.258 2.73v14.963c0 1.979-.87 2.733-2.258 2.733-1.383 0-2.254-.754-2.254-2.733V88.835zm-4.354 14.688c0 4.433 2.333 6.966 6.608 6.966 4.275 0 6.612-2.533 6.612-6.966V89.114c0-4.433-2.337-6.966-6.612-6.966s-6.608 2.533-6.608 6.966v14.409zM63.62 110.173h4.472V82.464h-3.88v16.584h-.079l-4.391-16.584h-5.463v27.709h3.917V90.102h.079l5.346 20.07zM73.304 110.173h6.888c4.354 0 6.491-2.417 6.491-6.85V89.31c0-4.433-2.137-6.846-6.491-6.846h-6.888v27.709zm6.809-23.75c1.383 0 2.216.712 2.216 2.691v14.409c0 1.979-.833 2.691-2.216 2.691h-2.455V86.423h2.455zM91.338 94.34h7.916v3.958h-7.916zM117.004 86.423h7.521v-3.959H112.65v27.709h11.875v-3.959h-7.52v-8.116h5.978v-3.959h-5.979v-7.716zM139.23 110.173h4.47V82.464h-3.88v16.584h-.078l-4.392-16.584h-5.462v27.709h3.916V90.102h.08l5.345 20.07zM166.913 82.464h-6.371l-4.434 27.709h3.996l.754-5.03h5.342l.754 5.03h4.392l-4.433-27.709zm-3.442 4.909h.08l2.057 14.012h-4.195l2.058-14.012zM179.804 86.423h7.163v-3.959H175.45v27.709h4.354V98.73h5.621v-3.958h-5.62v-8.35zM197.721 82.464h-6.57v27.709h6.845c4.354 0 6.612-2.296 6.612-6.571v-2.259c0-2.929-.912-4.987-3.245-5.895v-.08c1.937-.912 2.808-2.691 2.808-5.541v-.992c0-4.275-1.938-6.37-6.45-6.37zm-.28 15.238c1.98 0 2.813.791 2.813 3.366v2.413c0 2.058-.791 2.733-2.258 2.733h-2.492v-8.512h1.938zm.16-11.28c1.545 0 2.216.871 2.216 2.85v1.542c0 2.217-.988 2.93-2.613 2.93h-1.7v-7.321h2.096zM223.259 110.173c-.438-1.03-.475-2.021-.475-3.367v-4.275c0-2.888-.713-4.946-2.892-5.858v-.08c1.942-.908 2.85-2.729 2.85-5.579v-2.179c0-4.275-1.938-6.37-6.45-6.37h-6.571v27.708h4.354V98.889h1.504c1.98 0 2.85.95 2.85 3.525v4.354c0 2.255.159 2.692.396 3.405h4.434zm-7.088-23.75c1.546 0 2.217.87 2.217 2.85v2.729c0 2.216-.988 2.929-2.613 2.929h-1.7v-8.508h2.096zM237.375 82.464H231l-4.433 27.709h4l.75-5.03h5.346l.75 5.03h4.396l-4.434-27.709zm-3.446 4.909h.08l2.058 14.012h-4.196l2.058-14.012zM255.567 82.464h-6.371l-4.433 27.709h3.996l.754-5.03h5.341l.755 5.03H260l-4.433-27.709zm-3.442 4.909h.08l2.058 14.012h-4.196l2.058-14.012zM274.454 110.173h4.475l-6.058-15.359 6.058-12.35h-4.354l-5.62 11.992h-.08V82.464h-4.354v27.709h4.354v-8.513l1.346-2.533 4.233 11.046zM294.234 110.173h5.779l3.087-27.709h-3.8l-2.216 22.009h-.08l-2.137-22.009h-4.196l-2.058 21.85h-.08l-2.295-21.85H282l3.088 27.709h5.979l1.542-14.767h.079l1.546 14.767zM311.713 86.423h7.52v-3.959H307.36v27.709h11.875v-3.959h-7.521v-8.116h5.979v-3.959h-5.98v-7.716zM337.963 110.173c-.434-1.03-.475-2.021-.475-3.367v-4.275c0-2.888-.713-4.946-2.888-5.858v-.08c1.938-.908 2.85-2.729 2.85-5.579v-2.179c0-4.275-1.941-6.37-6.454-6.37h-6.57v27.708h4.353V98.889h1.505c1.979 0 2.85.95 2.85 3.525v4.354c0 2.255.158 2.692.395 3.405h4.434zm-7.084-23.75c1.542 0 2.217.87 2.217 2.85v2.729c0 2.216-.992 2.929-2.612 2.929h-1.705v-8.508h2.1zM352.359 110.173h4.47l-6.054-15.359 6.054-12.35h-4.354l-5.62 11.992h-.08V82.464h-4.354v27.709h4.354v-8.513l1.346-2.533 4.238 11.046zM365.246 86.423h7.521v-3.959h-11.875v27.709h11.875v-3.959h-7.52v-8.116h5.978v-3.959h-5.979v-7.716zM386.846 110.173h4.471V82.464h-3.88v16.584h-.078l-4.392-16.584h-5.463v27.709h3.917V90.102h.08l5.345 20.07z" fill="#f18538"/>
    </g>
</svg>

    </a>
  {% endif %}
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
